body {
  background-color: white;
  --a-color: black;
  --c-color: black;
  --n-color: black;
  --e-color: black;
  --h-color: black;
  --i-color: black;
  --m-color: black;
  overflow: hidden;
}

.frame {
  width: 100%;
  height: 100%;
  background: white;
  margin: 0px auto;
  position: relative;
}

.lettera{
	top:100px;
	left:250px;
	position: relative;
	width:120px;
	height: 130px;
	background: white;
	margin:0;
	padding: 0;
}

.lettera:hover {
	/*background: black!important;*/
	--a-color: black!important;
}



#a1{
	position: absolute;
	background: var(--a-color);
	width: 100px;
	height: 5px;
	left: 0px;
	top:58px;
}

#at2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--a-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:32.4px;
}

#as3{
	position: absolute;
	background: var(--a-color);
	width: 5px;
	height: 450px;
	left: -117.5px;
	top:-56.4px;
	transform: rotate(45deg);
}

#a4{
	position: absolute;
	background: var(--a-color);
	width: 365px;
	height: 5px;
	left: 0px;
	top:120px;
}

#as6{
	position: absolute;
	background: var(--a-color);
	width: 5px;
	height: 55px;
	left: 80.4px;
	top:76.4px;
	transform: rotate(45deg);
}

#a7{
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--a-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:100px;
	top:70.4px;
	transform: rotate(180deg);
}

#a8{
	position: absolute;
	background: var(--a-color);
	width: 70px;
	height: 5px;
	left: 43.4px;
	top:8px;
}
#a9{
	position: absolute;
	background: var(--a-color);
	width: 20px;
	height:12px;
	left: 100px;
	top:58px;
}
#a10{
	position: absolute;
	background: var(--a-color);
	width: 20px;
	height: 9px;
	left: 0px;
	top:51px;
}

.letterc{
	top:83px;
	left:570.5px;
	position: relative;
	width:140px;
	height: 140px;
	background: transparent;
	margin:0;
	padding: 0;
}

.letterc:hover {
	/*background: black!important;*/
	--c-color: black!important;
}

#c1{
	position: absolute;
	background: var(--c-color);
	width: 20px;
	height: 70px;
	left: 0px;
	top:50px;
}

#ct2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--c-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:35.4px;
}

#cs3{
	position: absolute;
	background: var(--c-color);
	width: 5px;
	height: 260px;
	left: -50.5px;
	top:-28.4px;
	transform: rotate(45deg);
}

#c4{
	position: absolute;
	background: var(--c-color);
	width: 65px;
	height: 5px;
	left: 0px;
	top:120px;
}

#cs6{
	position: absolute;
	background: var(--c-color);
	width: 5px;
	height: 55px;
	left: 80.4px;
	top:76.4px;
	transform: rotate(45deg);
}

#c8{
	position: absolute;
	background: var(--c-color);
	width: 60px;
	height: 5px;
	left: 43.4px;
	top:7px;
}

#c9{
	position: absolute;
	background: var(--c-color);
	width: 20px;
	height: 360px;
	left: 100px;
	top:-233px;

}

.lettern{
	top:93px;
	left:415.5px;
	position: relative;
	width:110px;
	height: 130px;
	background: transparent;
	margin:0;
	padding: 0;
}

.lettern:hover {
	/*background: black!important;*/
	--n-color: black!important;
}

#n1{
	position: absolute;
	background: var(--n-color);
	width: 20px;
	height: 175px;
	left: 0px;
	top:55px;
	animation: one 1s forwards;
}

@keyframes one{
	0% {
height: 175px;
	}
	100% {
height: 375px;
	}
}

#n2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--n-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:35.4px;
}

#n3{
	position: absolute;
	background: var(--n-color);
	width: 5px;
	height: 630px;
	left: 262.5px;
	top:-310.4px;
	transform: rotate(45deg);
}

#n5{
	position: absolute;
	background: var(--n-color);
	width: 600px;
	height: 5px;
	left: -556.4px;
	top:225px;
}



.lettere{
	top:-266px;
	left:861px;
	position: relative;
	width:120px;
	height: 150px;
	background: transparent;
	margin:0;
	padding: 0;
}

.lettere:hover {
	/*background: black!important;*/
	--e-color: black!important;
}

#e1{
	position: absolute;
	background: var(--e-color);
	width: 20px;
	height: 80px;
	left: 0px;
	top:50px;
}

#et2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--e-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:35.4px;
}

#es3{
	position: absolute;
	background: var(--e-color);
	width: 5px;
	height: 60px;
	left: 20.5px;
	top:0.4px;
	transform: rotate(45deg);
}


#e8{
	position: absolute;
	background: var(--e-color);
	width: 67px;
	height: 5px;
	left: 43.4px;
	top:7px;
}

#es11{
	position: absolute;
	background: var(--e-color);
	width: 20px;
	height: 220px;
	left: 90.5px;
	top:7px;
}

#e13{
	position: absolute;
	background: white;
	width: 120px;
	height: 120px;
	left: 0px;
	top:0px;
}

.letterh{
	top:-148px;
	left:951.5px;
	position: relative;
	width:110px;
	height: 130px;
	background: transparent;
	margin:0;
	padding: 0;
}

#h1{
	position: absolute;
	background: var(--h-color);
	width: 20px;
	height: 160px;
	left: 0px;
	top:-45px;
}

#h2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--h-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:-65.4px;
}

#h3{
	position: absolute;
	background: var(--h-color);
	width: 5px;
	height: 30px;
	left: 50.5px;
	top:87.4px;
	transform: rotate(45deg);
	animation: two 1s forwards;
}

@keyframes two{
	0% {
	height: 30px;
	left: 50.5px;
	top:87.4px;
	}
	100% {
	height: 430px;
	left: 191.5px;
	top:-255.4px;
	}
}

#h4{
	position: absolute;
	background: var(--h-color);
	width: 40px;
	height: 5px;
	left: 5px;
	top:8px;
}


#h5{
	position: absolute;
	background: var(--h-color);
	width: 30px;
	height: 5px;
	left: 14.4px;
	top:110px;
}

.letterh:hover {
	/*background: black!important;*/
	--h-color: red!important;
}