body {
  background-color: white;
  --a-color: black;
  --c-color: black;
  --n-color: black;
  --e-color: black;
  --h-color: black;
  --i-color: black;
  --m-color: white;
  overflow: hidden;
}

.frame {
  width: 100%;
  height: 100%;
  background: white;
  margin: 0px auto;
  position: relative;
}

.lettera{
	top:200px;
	left:200px;
	position: relative;
	width:200px;
	height: 200px;
	background: transparent;
	margin:0;
	padding: 0;
}

.lettera:hover {
	/*background: black!important;*/
	--a-color: black!important;
}



#a1{
	position: absolute;
	background: var(--a-color);
	width: 20px;
	height: 70px;
	left: 100px;
	top:130px;
}

#at2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--a-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:100px;
	top:115.4px;
}

#as3{
	position: absolute;
	background: var(--a-color);
	width: 5px;
	height: 60px;
	left: 120.5px;
	top:81.4px;
	transform: rotate(45deg);
	animation: two 1s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes two{
 0%{
 	width: 5px;
	height: 60px;
	left: 120.5px;
	top:81.4px;
 }
 100%{
 	width: 5px;
	height: 550px;
	left: -52.5px;
	top:9.4px;
 }
}

#a4{
	position: absolute;
	background: var(--a-color);
	width: 65px;
	height: 5px;
	left: 100px;
	top:200px;
}

#as6{
	position: absolute;
	background: var(--a-color);
	width: 5px;
    	top: -394px;
    	left:408px;
        height: 700px;
	transform: rotate(45deg);
}

#a7{
	position: absolute;
	background: var(--a-color);
	width: 20px;
	height: 617px;
	left: 195px;
	top:88px;
}

#a8{
	position: absolute;
	background: var(--a-color);
	width: 70px;
	height: 5px;
	left: 143.4px;
	top:88px;
}



.letterc{
	top:-175px;
	left:475.5px;
	position: relative;
	width:200px;
	height: 200px;
	background: transparent;
	margin:0;
	padding: 0;
}

.letterc:hover {
	/*background: black!important;*/
	--c-color: black!important;
}

#c1{
	position: absolute;
	background: var(--c-color);
	width: 20px;
	height: 70px;
	left: 0px;
	top:130px;
}

#ct2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--c-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:115.4px;
}

#cs3{
	position: absolute;
	background: var(--c-color);
	width: 5px;
	height: 60px;
	left: 20.5px;
	top:80.4px;
	transform: rotate(45deg);
}

#c4{
	position: absolute;
	background: var(--c-color);
	width: 65px;
	height: 5px;
	left: 0px;
	top:200px;
}

#cs6{
	position: absolute;
	background: var(--c-color);
	width: 5px;
	height: 55px;
	left: 80.4px;
	top:156.4px;
	transform: rotate(45deg);
}

#c8{
	position: absolute;
	background: var(--c-color);
	width: 780px;
	height: 5px;
	left: 43.4px;
	top:87px;
}

.lettern{
	top:-296px;
	left:775.5px;
	position: relative;
	width:110px;
	height: 130px;
	background: transparent;
	margin:0;
	padding: 0;
}

.lettern:hover {
	/*background: black!important;*/
	--n-color: black!important;
}

#n1{
	position: absolute;
	background: var(--n-color);
	width: 20px;
	height: 75px;
	left: 0px;
	top:50px;
}

#n2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--n-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:35.4px;
}

#n3{
	position: absolute;
	background: var(--n-color);
	width: 5px;
	height: 60px;
	left: 20.5px;
	top:1.4px;
	transform: rotate(45deg);
}

#n4{
	position: absolute;
	background: var(--n-color);
	width: 20px;
	height: 270px;
	left: 85px;
	top:8px;
}

#n5{
	position: absolute;
	background: var(--n-color);
	width: 60px;
	height: 5px;
	left: 43.4px;
	top:8px;
}

.lettere{
	top:-200px;
	left:861px;
	position: relative;
	width:120px;
	height: 150px;
	background: transparent;
	margin:0;
	padding: 0;
}

.lettere:hover {
	/*background: black!important;*/
	--e-color: black!important;
}

#e1{
	position: absolute;
	background: var(--e-color);
	width: 20px;
	height: 300px;
	left: 0px;
	top:50px;
}
/*
@keyframes two{
 0%{
 	height:80px;
 }
 100%{
 	height:300px;
 }
}*/

#et2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--e-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:35.4px;
}

#es3{
	position: absolute;
	background: var(--e-color);
	width: 5px;
	height: 60px;
	left: 20.5px;
	top:0.4px;
	transform: rotate(45deg);
}

#e4{
	position: absolute;
	background: var(--e-color);
	width: 330px;
	left: -265px;
	height: 5px;
	top:130px;
}

#es6{
	position: absolute;
	background: var(--e-color);
	width: 5px;
	height: 540px;
		left: 252px;
		top:-327px;
	transform: rotate(45deg);
}

#e8{
	position: absolute;
	background: var(--e-color);
	width: 77px;
	height: 5px;
	left: 43.4px;
	top:7px;
}

#e9{
	position: absolute;
	background: var(--e-color);
	width: 20px;
	height: 20px;
	left: 100px;
	top:8px;
}

#e13{
	position: absolute;
	background: white;
	top: 9px;
	left:100px;
	width: 35px;
	height: 45px;
	transform: rotate(45deg);
}

#es11{
	position: absolute;
	background: var(--e-color);
	width: 5px;
	height: 135px;
	left: 60.5px;
	top:-10px;
	transform: rotate(45deg);
}

#e12{
	position: absolute;
	background: white;
	top: 0px;
	left:113px;
	width: 35px;
	height: 45px;

}

.letterh{
	top:-228px;
	left:505.5px;
	position: relative;
	width:110px;
	height: 130px;
	background: transparent;
	margin:0;
	padding: 0;
}

.letterh:hover {
	/*background: black!important;*/
	--h-color: black!important;
}

#h1{
	position: absolute;
	background: var(--h-color);
	width: 20px;
	height: 160px;
	left: 0px;
	top:-45px;
}

#h2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--h-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:-65.4px;
}

#h3{
	position: absolute;
	background: var(--h-color);
	width: 5px;
	height: 60px;
	left: 20.5px;
	top:1.4px;
	transform: rotate(45deg);
}

#h4{
	position: absolute;
	background: var(--h-color);
	width: 20px;
	height: 107px;
	left: 85px;
	top:8px;
}

#h5{
	position: absolute;
	background: var(--h-color);
	width: 60px;
	height: 5px;
	left: 43.4px;
	top:8px;
}

#h6{
	position: absolute;
	height: 5px;
	width: 160px;
	top:-105px;
	left:-19px;
	background: black;
	transform: rotate(-45deg);
/*	animation: one 2s ease;
	animation-fill-mode: forwards;
	animation-timing-function: linear;*/
}

.letteri{
	top:-533px;
	left:621px;
	position: relative;
	width:80px;
	height: 110px;
	background: transparent;
	margin:0;
	padding: 0;
}

.letteri:hover {
	/*background: black!important;*/
	--i-color: black!important;
}

#i1{
	position: absolute;
	background: var(--i-color);
	width: 20px;
	height: 85px;
	left: 0px;
	top:15px;
}

#i2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--i-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:-5px;
}

#i3{
	position: absolute;
	background: var(--i-color);
	width: 45px;
	height: 5px;
	left: 0px;
	top:100px;
}

#i4{
	position: absolute;
	background: var(--i-color);
	width: 5px;
    top: 86px;
    left:48px;
    height: 20px;
	transform: rotate(45deg);
}

#i5 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--i-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:-20px;
	transform: rotate(180deg);
}

#i6{
	position: absolute;
	height: 5px;
	width:6px;
	background: black;
	top:-20px;
	left:0px;
	animation: one 1s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes one{
 0%{
 	width:6px;
 }
 100%{
 	left:-322px;
 	width:330px;
 }
}

.letterm{
	top:-782.8px;
	left:148.5px;
	position: relative;
	width:155px;
	height: 130px;
	background: transparent;
	margin:0;
	padding: 0;
}

.letterm:hover {
	/*background: black!important;*/
	--m-color: black!important;
}

#m1{
	position: absolute;
	background: var(--m-color);
	width: 20px;
	height: 75px;
	left: 65px;
	top:50px;
}

#m2 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--m-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:65px;
	top:35.4px;
}

#m3{
	position: absolute;
	background: var(--m-color);
	width: 5px;
	height: 60px;
	left: 86px;
	top:1px;
	transform: rotate(45deg);
}

#m4{
	position: absolute;
	background: var(--m-color);
	width: 20px;
	height: 117px;
	left: 130px;
	top:8px;
}

#m5{
	position: absolute;
	background: var(--m-color);
	width: 40px;
	height: 5px;
	left: 108.4px;
	top:8px;
}

#m6{
	position: absolute;
	background: var(--m-color);
	width: 20px;
	height: 75px;
	left: 0px;
	top:50px;
}

#m7 {
	width: 0px;
	height: 0;
	border-bottom: 20px solid var(--m-color);
	border-left: 20px solid transparent;
	position: absolute;
	left:0px;
	top:35.4px;
}

#m8{
	position: absolute;
	background: var(--m-color);
	width: 5px;
	height: 60px;
	left: 21.5px;
	top:1px;
	transform: rotate(45deg);
}

#m9{
	position: absolute;
	background: var(--m-color);
	width: 20px;
	height: 117px;
	left: 65px;
	top:8px;
}

#m10{
	position: absolute;
	background: var(--m-color);
	width: 40px;
	height: 5px;
	left: 43.4px;
	top:8px;
}